'*':
  'alpha (lowercase)':
    'prefix': 'alpha'
    'body': 'α'
  'alpha (uppercase)':
    'prefix': 'Alpha'
    'body': 'Α'
  'beta (lowercase)':
    'prefix': 'beta'
    'body': 'β'
  'beta (uppercase)':
    'prefix': 'Beta'
    'body': 'Β'
  'gamma (lowercase)':
    'prefix': 'gamma'
    'body': 'γ'
  'gamma (uppercase)':
    'prefix': 'Gamma'
    'body': 'Γ'
  'delta (lowercase)':
    'prefix': 'delta'
    'body': 'δ'
  'delta (uppercase)':
    'prefix': 'Delta'
    'body': 'Δ'
  'epsilon (lowercase)':
    'prefix': 'epsilon'
    'body': 'ε'
  'epsilon (uppercase)':
    'prefix': 'Epsilon'
    'body': 'Ε'
  'zeta (lowercase)':
    'prefix': 'zeta'
    'body': 'ζ'
  'zeta (uppercase)':
    'prefix': 'Zeta'
    'body': 'Ζ'
  'eta (lowercase)':
    'prefix': 'eta'
    'body': 'η'
  'eta (uppercase)':
    'prefix': 'Eta'
    'body': 'Η'
  'theta (lowercase)':
    'prefix': 'theta'
    'body': 'θ'
  'theta (uppercase)':
    'prefix': 'Theta'
    'body': 'Θ'
  'iota (lowercase)':
    'prefix': 'iota'
    'body': 'ι'
  'iota (uppercase)':
    'prefix': 'Iota'
    'body': 'Ι'
  'kappa (lowercase)':
    'prefix': 'kappa'
    'body': 'κ'
  'kappa (uppercase)':
    'prefix': 'Kappa'
    'body': 'Κ'
  'lambda (lowercase)':
    'prefix': 'lambda'
    'body': 'λ'
  'lambda (uppercase)':
    'prefix': 'Lambda'
    'body': 'Λ'
  'mu (lowercase)':
    'prefix': 'mu'
    'body': 'μ'
  'mu (uppercase)':
    'prefix': 'Mu'
    'body': 'Μ'
  'nu (lowercase)':
    'prefix': 'nu'
    'body': 'ν'
  'nu (uppercase)':
    'prefix': 'Nu'
    'body': 'Ν'
  'xi (lowercase)':
    'prefix': 'xi'
    'body': 'ξ'
  'xi (uppercase)':
    'prefix': 'Xi'
    'body': 'Ξ'
  'omicron (lowercase)':
    'prefix': 'omicron'
    'body': 'ο'
  'omicron (uppercase)':
    'prefix': 'Omicron'
    'body': 'Ο'
  'pi (lowercase)':
    'prefix': 'pi'
    'body': 'π'
  'pi (uppercase)':
    'prefix': 'Pi'
    'body': 'Π'
  'rho (lowercase)':
    'prefix': 'rho'
    'body': 'ρ'
  'rho (uppercase)':
    'prefix': 'Rho'
    'body': 'Ρ'
  'sigma (lowercase)':
    'prefix': 'sigma'
    'body': 'σ'
  'sigma (uppercase)':
    'prefix': 'Sigma'
    'body': 'Σ'
  'tau (lowercase)':
    'prefix': 'tau'
    'body': 'τ'
  'tau (uppercase)':
    'prefix': 'Tau'
    'body': 'Τ'
  'upsilon (lowercase)':
    'prefix': 'upsilon'
    'body': 'υ'
  'upsilon (uppercase)':
    'prefix': 'Upsilon'
    'body': 'Υ'
  'phi (lowercase)':
    'prefix': 'phi'
    'body': 'φ'
  'phi (uppercase)':
    'prefix': 'Phi'
    'body': 'Φ'
  'chi (lowercase)':
    'prefix': 'chi'
    'body': 'χ'
  'chi (uppercase)':
    'prefix': 'Chi'
    'body': 'Χ'
  'psi (lowercase)':
    'prefix': 'psi'
    'body': 'ψ'
  'psi (uppercase)':
    'prefix': 'Psi'
    'body': 'Ψ'
  'omega (lowercase)':
    'prefix': 'omega'
    'body': 'ω'
  'omega (uppercase)':
    'prefix': 'Omega'
    'body': 'Ω'
